* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  background-color: #f5f7fb;
  margin: 0;
  color: #252432;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 135px;
  height: auto;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-menu a:hover,
.nav-menu a.active-menu {
  color: #252432;
}

.nav-menu a.cart {
  color: #000000;
}

/* banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px 40px;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 800;
  font-family: Noto Serif;
  color: #000000;
  line-height: 1.2;
}

.orange {
  color: #E95A08;
  font-weight: 800;
}

.hero-text p {
  color: #666;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.6;
}

.hero-img img {
  width: 100%;
  max-width: 570px;
  height: auto;
  border-radius: 8px;
}

/* our plants section */
.plants {
  text-align: center;
  padding: 60px 70px;
}

.plants h2 {
  font-size: 50px;
  font-family: Noto Serif;
  margin-bottom: 20px;
}

.section-desc {
  color: #666;
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6;
}

/* Product Grid */
.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  width: 100%;
  max-width: 270px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: 600;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.add-btn {
  background-color: #ff5a00;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background-color: #e04b00;
}

/* plant lover section */
.plant-lover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f5f7fb;
  padding: 80px;
}
.plant-lover-img {
  width: 400px;
  position: relative;
}

.plant-lover-img img:first-child {
  width: 400px;
  border-radius: 8px;
}
.trusted-badge {
  width: 150px;
  position: absolute;
  top: -50px;
  right: -50px;
  animation: spin 9s linear infinite;
}

/* animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.plant-lover-text {
  width: 58%;
}

.plant-lover-text h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Noto Serif;
}

.plant-lover-text ul {
  padding-left: 0px;
  list-style-position: inside; 
}

.plant-lover-text ul li {
  margin-bottom: 20px; 
  line-height: 1;
  font-size: 20px;
  color: #444;
}

/* Latest Deal Section */
.deals-section {
  text-align: center;
  padding: 80px 80px;
  max-width: 1200px;
  width: 100%;
}

.section-title {
  font-size: 2.5em;
  color: #333;
   margin-bottom: 10px;
}

.section-title .highlight {
  color: #FF8C00; 
}

.section-description {
  font-size: 1.1em;
  color: #666;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.deals-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.deal-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; 
}

.deal-card.large {
  flex: 2; 
  max-width: 700px;
  min-width: 400px; 
  height: 400px; 
}

.deal-card-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; 
  min-width: 300px; 
}

.deal-card.small {
  flex: 1;
  height: 190px;
}

.deal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 15px;
}

.deal-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.deal-offer {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.shop-now-btn {
  background-color: #FF8C00;
  color:white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}
.shop-icon{
  display: none;
  margin-left: 5px;
  color:black;
}
.shop-now-btn:hover {
  background-color: #e04b00;
}
.shop-now-btn:hover .shop-icon {
  display: inline;
}
